<!DOCTYPE html>
<html>
  <head>
    <title>Employee Onboarding Form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <script src="/js/index.js"></script>
  </head>

  <body>
    <div class="container">
      <center>
        <h2>Employee Onboarding Form</h2>
      </center>
    </div>

    <div class="container mt-5">
      <!-- <form action="#" method="post" enctype="multipart/form-data"> -->
      <form
        action="javascript:void(0)"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="employee-id">Employee ID</label>
          <input
            type="text"
            class="form-control"
            id="employee-id"
            name="employee-id"
            required
          />
        </div>
        <div class="form-group">
          <label for="employee-name">Employee Email</label>
          <input
            type="text"
            class="form-control"
            id="employee-mail"
            name="employee-mail"
            required
          />
        </div>
        <div class="form-group">
          <label for="employee-name">Employee Name</label>
          <input
            type="text"
            class="form-control"
            id="employee-name"
            name="employee-name"
            required
          />
        </div>
      </form>
      <div class="form-group">
        <label for="document">Choose Document</label>
        <select class="form-control" id="document" name="document">
          <option value="aadhar">Aadhar Card</option>
          <option value="pan">PAN Card</option>
          <option value="resume">Resume</option>
          <option value="passport">Passport</option>
          <option value="driving_license">Driving License</option>
        </select>
        <button class="btn btn-sm btn-primary mt-2" onclick="addDocument()">
          Add Field
        </button>
      </div>
      <div id="aadhar-section"></div>
      <div id="pan-section"></div>
      <div id="resume-section"></div>
      <div id="passport-section"></div>
      <div id="driving_license-section"></div>

      <button type="submit" class="btn btn-primary" onclick="uploadMultiFile()">
        Submit
      </button>
    </div>
  </body>
</html>
